{% extends 'base.html' %}

{% block title  %}
Compare Users
{% if message %}
{{ message }}
{% endif %}
{% endblock  %}

{% block lead  %}
Who is more likely to tweet given sentences? 
{% endblock  %}

{% block main_body  %}
To get the results, press the Compare button

{% if data %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Full_name</th>
      <th scope="col">Followers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ data.id }}</th>
      <td>{{ data.username }}</td>
      <td>{{ data.full_name }}</td>
      <td>{{ data.followers }}</td>
    </tr>
  </tbody>
</table>
{% endif %}


<form method="POST" action="/compare">
  <input name="text" class="form-control" type="text" placeholder="Sentences">
  <input type="submit" class="btn btn-primary" value="Compare" />
</form>
{% endblock  %}

